# === TERRAFORM ===
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
*.backup
terraform.tfvars.json

# secrets sensibles
secrets.yaml
vault-password.txt
*.pem
*.key
*.crt

# plan files
plan.out

# === ANSIBLE ===
*.retry
*.log
*.tmp
*.bak

# vault & encrypt
.vault_pass
.vault_pass.txt

# inventory générés
inventory/generated/
inventory/dynamic/

# === SYSTEME ===
*.swp
*.swo
*.DS_Store
__pycache__/
*.pyc
.idea/
.vscode/
.env
.envrc

# === PACKAGING / GITLAB-CI ===
dist/
build/
*.tar.gz
*.zip

# === PACKER ===

# Cache objects
packer_cache/

# Crash log
crash.log

# https://www.packer.io/guides/hcl/variables
# Exclude all .pkrvars.hcl files, which are likely to contain sensitive data, 
# such as password, private keys, and other secrets. These should not be part of 
# version control as they are data points which are potentially sensitive and 
# subject to change depending on the environment.
#
*.pkrvars.hcl
!template.*

# For built boxes
*.box
.venv


